:root{
    --primary: #1d3557;
    --secondary: #e63946;
    --tertiary: #457b9d;
    --white: #f1faee;
    --dark: #1d3557;
}
body {
    background-color:var(--white);
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* Styling for the header */
h1 {
    color:var(--secondary);
    font-family: 'Tourney', cursive;    
    font-size: 60px;
    text-align: center;
    padding: 1%;
    margin: 1%;
    align-items: center;
}

/* Styling for the timer section */
.game-start{
    align-content: center;
    background-color:var(--primary);
    padding-bottom: 1%;
}

.game-start h2{
    text-align: center;
    font-size: 36px;
    padding: 2%;
    margin: 0px;
    color: white;
}

/* Styling for the buttons */
.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    font-family:'Rubik', sans-serif;
    background-color:var(--tertiary);
    color: white;
    border-color: gray;
    border-radius: 10px;
}

.button:hover{
    background-color: #a8dadc;
    color: var(--primary);
}

/* Styling for the word and score-board cards */
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.card {
    padding-left: 2%;
    padding-bottom: 2%;
    border: 4px solid var(--dark);
    width: 45%;
}

.card h3{
    text-align: center;
    color: var(--secondary);
    text-decoration: underline;
    font-size: 36px;
    font-family: 'Tourney', cursive;
}

.card h4{
    font-size: 27px;
}
#guess-word{
    display: flex;
    font-size: 45px;
    justify-content: center;
}

/* Adjust for screen size */
@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
        margin-top: 1%;
        justify-content: center;
    }
    .card{
        width: 95%;
        margin-top: 2%;
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 500px){
    h1{
        font-size: 48px;
    }
    .game-start h2{
        font-size: 28px;
    }
    .button {
        padding: 5px;
        font-size: 22px;
        border-radius: 15px;
    }
    .card h3{
        font-size: 30px;
    }
    .card h4{
        font-size: 28px;
    }
    #guess-word{
        font-size: 32px;
    }
}

@media screen and (max-width: 350px){
    h1{
        font-size: 32px;
    }
    .game-start h2{
        font-size: 20px;
    }
    .button {
        padding: 5px;
        font-size: 18px;
        border-radius: 12px;
    }
    .card h3{
        font-size: 26px;
    }
    .card h4{
        font-size: 24px;
    }
    #guess-word{
        font-size: 28px;
    }
}