body {
    background-color:rgb(236, 236, 236);
}

.header{
    background-color:darkblue;
}

h1 {
    color:brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    text-align: center;
    text-decoration: underline;
    padding: 1%;
    align-items: center;
}

.container {
    display: flex;
}

.child {
    padding-left: 2%;
    width: 50%;
}