body {
    background-color:rgb(236, 236, 236);
}

/* Styling for the header */
h1 {
    color:brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    text-align: center;
    padding: 1%;
    margin: 1%;
    align-items: center;
}

/* Styling for the timer section */
.game-start{
    align-content: center;
    background-color:rgb(34, 34, 87);
    padding-bottom: 1%;
}

.game-start h2{
    text-align: center;
    font-size: 36px;
    padding: 1%;
    color: white;
}

/* Styling for the buttons */
.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(117, 126, 250);
    color: white;
    border-color: gray;
}

.button:hover{
    background-color: rgb(196, 200, 250);
    color: rgb(34, 34, 87);
}

/* Styling for the word and score-board cards */
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.card {
    padding-left: 2%;
    padding-bottom: 2%;
    border: 4px solid black;
    width: 45%;
}

.card h3{
    text-align: center;
    color: brown;
    text-decoration: underline;
    font-size: 32px;
}

.card h4{
    font-size: 27px;
}